body, h1, h2, p {
    margin: 0;
    padding: 0;;
}

body {
    background-color: #1A2C38;
    color: #fff;
}

.transition-element {
    transition: opacity 0.3s ease-in-out;
}

header {
    color: white;
    text-align: center;
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: darkgreen;
    align-items: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.first-word {
    color: green;
}

.second-word {
    color: red
}
