body {
    font-family: 'Arial', sans-serif;
    background-color: #1A2C38;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

 .box {
    background-color: #0F212E;
    color: #B1BAD3;
    border-radius: 10px;
    width: 30%;
    max-width: 1000px;
    min-width: 300px;
 }
  
  form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #B1BAD3;
  }
  
  h1 {
    text-align: center;
    color: #B1BAD3;;
  }
  
  div {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #B1BAD3;;
  }
  
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #213743;
    color: white
  }
  
  button {
    background-color: #213743;
    color: #B1BAD3;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #B1BAD3;
    color: #213743;
  }
  