body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1A2C38;
    overflow: hidden;
}

h1 {
    color: #fff;
}

.game-container {
    text-align: center;
    max-width: 400px;
    margin: 20px auto 0;
    padding: 20px;
    border-radius: 10px;
}

 
#card-image {
    width: 100%;
    height: 100%;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
  }


@media (max-width: 900px) {
    .token-container {
        position: relative;
        margin: 20px auto 0;
        top: 10px;
    }
}

.not-active {
    display: none;
}

.active {
    display: block;
    max-width: 50%;
    max-height: auto;
    transition: 0.5s;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.first-word {
    color: green;
}

.second-word {
    color: red;
}

#card-image {
    width: 150px;
    height: auto;
    margin: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.card-style-transition {
    transform: scale(1.2);
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.game-scene {
    display: flex;
}

button {
    padding: 10px;
    width: 100px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#higher-button {
    background-color: green;
}

#higher-button:hover {
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

#lower-button {
    background-color: red;
}

#lower-button:hover {
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

#restart-button {
    background-color: darkblue;
    width: 100px;
}

#result-message {
    font-size: 20px;
    font-weight: bold;
}

#balance {
    background-color: green;
    width: 100px;
}

#correct-guesses {
    color: white;
    font-size: larger;
}

.homepage-button {
    background-color: orange;
    text-align: center;
}

#login-button {
    background-color: black;
}

.game-stats {
    display: flex;
    margin: 10px 10px;
    padding: 20px;
}

.game-stats p {
    background-color: darkblue;
    transition: 0.5s;
    color: white;
    padding: 14px;
    margin: auto 5px 0;
    font-size: larger;
    width: 60px;
    border-radius: 10px;
}

.game-stats .correct-tip {
    background-color: green;
    transition: 0.5s;
}

.game-stats .wrong-tip {
    background-color: red;
    transition: 0.5s;
}

.card-shop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
    margin: 20px 0;
    position: absolute;
    top: 100px;
    left: 20px;
    opacity: 0; 
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card-design {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 10px 10px 0;
    font-size: small;
}

.card-design img {
    max-width: 40px;
    height: auto;
    margin: 5px 0;
}

.card-design p {
    font-size: 16px;
    margin: 5px 0;
    color: white;
    transition: 0.5s ease-out;
}

.buy-design {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.purchased {
    background-color: orange;
    transition: 0.5s ease-in;
}

#card-shop-toggle {
    position: absolute;
    top: 70px;
    left: 90px;
    width: 130px;
    background-color: orange;
    color: #fff;
}

#card-shop-toggle:hover {
    opacity: 0.8;
    transition: 0.5s;
}
