body {
    font-family: 'Arial', sans-serif;
    background-color: #1A2C38;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    background-color: #0F212E;
    color: #B1BAD3;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 a {
    padding: 5px;
    background-color: #0F212E;
    border-radius: 4px;
    color: #B1BAD3;
    transition: 0.3s ease-in-out;
 }

 a:hover {
    background-color: #1A2C38;
 }

